/* WishList.module.css */
.wishlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.h2WishlistPage {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #333;
}

.wishlistItems {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.wishlistItem {
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.wishlistItem img {
    max-width: 100%;
    border-radius: 8px;
}

.wishlistItem h3 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.wishlistItem p {
    font-size: 16px;
    color: #666;
}
