/* Footer */
footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    position: relative;
}

/*CSS Error Messages*/
.error-message {
    font-family: Arial, sans-serif;
    font-size: 12px;  
    color: red;  
    margin-top: 5px;  
    margin-bottom: 10px;  
    text-align: left;  
}

/* CSS Index Page (HOME) */
#home-page {
    background-color: rgb(255, 244, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.hero-message {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('imgs/ImagenFondo.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}

#h1-home-page {
    color: white;
    text-align: center;
    font-size: 4rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #919090;
  }
  
.logo-container {
    flex: 0 0 auto;
}
  
.logo-container img {
    width: 70px;
    height: auto;
}
  
.auth-links {
    flex: 0 0 auto;
    text-align: right;
}
  
.auth-links ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}
  
.auth-links li a {
    text-decoration: none;
    padding: 10px 15px;
    color: #333;
}
  
.auth-links a:hover {
    background-color: #ddd;
}
  
.main-navigation {
    background-color: #c7c7c7;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between; /* Para distribuir los elementos */
    align-items: center;
}
  
.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Asegura que los elementos estén en fila */
}
  
.main-navigation li {
    display: inline;
    margin-right: 15px;
}
  
.main-navigation a {
    text-decoration: none;
    padding: 10px 15px;
    color: #333;
}
  
.main-navigation a:hover {
    background-color: #ddd;
}
  
.search-form {
    display: flex;
    align-items: center;
}
  
.search-form input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 1rem;
}
  
.search-form button {
    padding: 8px 15px;
    background-color: rgb(119, 118, 118);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
}
  
.search-form button:hover {
    background-color: rgb(119, 118, 118);
}

#main-home-page {
    flex: 1;
    padding: 0;
    text-align: center;
  }

/* CSS for Register Page */
#register-page {
    background-image: url('imgs/ImagenFondo.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    width: 100%; 
    flex: 1;
    flex-grow: 1;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-top: 50px; /* Añadir margen superior */
    padding-bottom: 50px; /* Añadir margen inferior */
}

.logo-container-register-page {
    position: absolute;  
    top: 20px; 
    left: 20px; 
}

.logo-container-register-page img {
    width: 50px;  
    height: auto; 
}

.form-container-register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.form-box-register-page {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px; /* Reducir el ancho del cuadro para que quepa mejor */
    max-width: 85%;
    box-sizing: border-box;
    overflow: auto;
    overflow-y: auto;
}

#h1-register-page {
    margin-bottom: 15px;
    color: rgb(100, 100, 100);
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.form-register-page label {
    display: block;
    margin: 1px;
    text-align: left;
    color: grey;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.form-register-page input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}

.form-register-page input[type="file"] {
    padding: 5px;
    margin-bottom: 5px;
}

.form-register-page select {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
    background-color: white;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.input-error {
    border: 1px solid red;
}

.form-register-page button {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    width: 100%;
    margin-top: 10px;
}

#register-button {
    background-color: black; 
    color: white;
}

.form-register-page button:hover {
    opacity: 0.7;
}

.form-register-page p {
    font-size: 12px;
    color: grey;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.form-register-page p a {
    color: black;
    text-decoration: none; 
}

.form-register-page p a:hover {
    text-decoration: underline;
}

/* CSS for LogIn Page */
#login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Para que el contenido principal ocupe el espacio disponible */
    width: 100%;
    height: 100vh;
    background-image: url('imgs/ImagenFondo.jpg'); 
    background-size: cover; 
    background-position: center; 
    padding: 50px 0; /* Espacio arriba y abajo */
}

.logo-container-login-page {
    position: absolute;  
    top: 20px; 
    left: 20px; 
}

.logo-container-login-page img {
    width: 50px;  
    height: auto; 
}

.form-container-login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.form-box-login-page {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px; /* Reducir el ancho del cuadro para que quepa mejor */
    max-width: 100%;
    box-sizing: border-box;
    overflow: auto;
    margin: auto;
}

#h1-login-page {
    margin-bottom: 15px;
    color: rgb(100, 100, 100);
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.form-login-page label {
    display: block;
    margin: 8px 0 4px;
    text-align: left;
    color: grey;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.forgot-password-link {
    font-size: 12px;
    color: grey;
    text-decoration: none; 
}

.forgot-password-link:hover {
    text-decoration: underline;
}

.form-login-page input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}


.form-login-page button {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    width: 100%;
    margin-top: 10px;
}

#login-button {
    background-color: black; 
    color: white;
}

.form-login-page button:hover {
    opacity: 0.7;
}

.form-login-page p {
    font-size: 12px;
    color: grey;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.form-login-page p a {
    color: black;
    text-decoration: none; 
}

.form-login-page p a:hover {
    text-decoration: underline;
}

/* CSS for Forgot Password Page*/
#forgot-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Para que el contenido principal ocupe el espacio disponible */
    width: 100%;
    height: 100vh;
    background-image: url('imgs/ImagenFondo.jpg'); 
    background-size: cover; 
    background-position: center; 
    padding: 50px 0; /* Espacio arriba y abajo */
}

.logo-container-forgot-password-page {
    position: absolute;  
    top: 20px; 
    left: 20px; 
}

.logo-container-forgot-password-page img {
    width: 50px;  
    height: auto; 
}

.form-container-forgot-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.form-box-forgot-password-page {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px; /* Reducir el ancho del cuadro para que quepa mejor */
    max-width: 100%;
    box-sizing: border-box;
    overflow: auto;
    margin: auto;
}

#h1-forgot-password-page {
    margin-bottom: 15px;
    color: rgb(100, 100, 100);
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.form-forgot-password-page label {
    display: block;
    margin: 8px 0 4px;
    text-align: left;
    color: grey;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.form-forgot-password-page input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}


.form-forgot-password-page button {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    width: 100%;
    margin-top: 10px;
}

.forgot-password-button {
    background-color: black; 
    color: white;
}

.form-forgot-password-page button:hover {
    opacity: 0.9;
}

.form-forgot-password-page p {
    font-size: 12px;
    color: grey;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.form-forgot-password-page p a {
    color: black;
    text-decoration: none; 
}

.form-forgot-password-page p a:hover {
    text-decoration: underline;
}


/* CSS for Motos */
.main-motos {
    background-color: #949494; /* Gris clarito para el fondo */
    padding: 20px;
    text-align: center;
}

.result-message {
    margin-bottom: 30px;
}
  
.result-message h1 {
    font-size: 2rem;
    color: #333;
}

.product-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
  
.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 23%;
    text-align: center;
}
  
.product-card img {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin-bottom: 15px;
}
  
.product-card h3 {
    font-size: 1.2rem;
    color: #333;
}
  
.product-card .btn-more,
.product-card .btn-wishlist {
    background-color: rgb(81, 81, 81);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1rem;
}
  
.product-card .btn-more:hover,
.product-card .btn-wishlist:hover {
    background-color: rgb(112, 112, 112);
}

/* CSS for Moto1 Detalles */
#product-details {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
  
#product-details h1 {
    color: #333;
    font-size: 2.5rem;
    text-align: center;
}
  
#product-details .product-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  
#product-details .main-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
}
  
#product-details .image-thumbnails img {
    width: 80px;
    height: auto;
    cursor: pointer;
}
  
#product-details .product-description h3 {
    font-size: 1.5rem;
    color: #333;
}
  
#product-details .product-description ul {
    list-style: none;
    padding-left: 0;
}
  
#product-details .product-description li {
    font-size: 1rem;
    color: #666;
}
  
#product-details .action-buttons button {
    padding: 10px 20px;
    background-color: rgb(244, 134, 228);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
  
#product-details .action-buttons button:hover {
    background-color: rgb(200, 100, 200);
    }