.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #919090;
  }
  
.logo-container {
    flex: 0 0 auto;
}
  
.logo-container img {
    width: 70px;
    height: auto;
}
  
.auth-links {
    flex: 0 0 auto;
    text-align: right;
}
  
.auth-links ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}
  
.auth-links li a {
    text-decoration: none;
    padding: 10px 15px;
    color: #333;
}
  
.auth-links a:hover {
    background-color: #ddd;
}
  
.main-navigation {
    background-color: #c7c7c7;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between; /* Para distribuir los elementos */
    align-items: center;
}
  
.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Asegura que los elementos estén en fila */
}
  
.main-navigation li {
    display: inline;
    margin-right: 15px;
}
  
.main-navigation a {
    text-decoration: none;
    padding: 10px 15px;
    color: #333;
}
  
.main-navigation a:hover {
    background-color: #ddd;
}
