.background {
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }

  .button {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    width: 100%;
    margin-top: 10px;
    background-color: darkgrey;
    color: black;
  }

  .button:hover {
    opacity: 0.7;
}
  
  