/* CSS Index Page (HOME) */
#home-page {
    background-color: rgb(255, 244, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }


#h1-home-page {
    color: white;
    text-align: center;
    font-size: 4rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #919090;
  }
  
.logo-container {
    flex: 0 0 auto;
}
  
.logo-container img {
    width: 70px;
    height: auto;
}
  
.auth-links {
    flex: 0 0 auto;
    text-align: right;
}
  
.auth-links ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}
  
.auth-links li a {
    text-decoration: none;
    padding: 10px 15px;
    color: #333;
}
  
.auth-links a:hover {
    background-color: #ddd;
}
  

  
#main-home-page {
    flex: 1;
    padding: 0;
    text-align: center;
  }
